APP_ENV=environment-b
UDS_PATH=/var/run/pui/uds/vault-core.sock
BADGER_PATH=/var/lib/pui/badger
CHUNK_ROOT=/var/lib/pui/chunks
FASTCDC_MIN_CHUNK_SIZE=65536
FASTCDC_AVG_CHUNK_SIZE=262144
FASTCDC_MAX_CHUNK_SIZE=1048576
