APP_ENV=environment-b

UDS_PATH=../../shared/uds/vault-core.sock
BADGER_PATH=../../data/vault/badger
CHUNK_ROOT=../../data/vault/chunks

UDS_OWNER_UID=0
UDS_OWNER_GID=0
UDS_ALLOWED_UIDS=

FASTCDC_MIN_CHUNK_SIZE=65536
FASTCDC_AVG_CHUNK_SIZE=262144
FASTCDC_MAX_CHUNK_SIZE=1048576
