# VCS/editor metadata
.git
.github
.vscode
.idea
**/.DS_Store

# Local env files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Build artifacts
**/node_modules
**/dist
**/.vite
**/coverage
**/*.tsbuildinfo
**/bin
**/tmp
**/coverage.out
